
body{
  background-color: #EAEAEA;
}

/* Baiviet */
.page-body {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 70px auto 0 auto;
  border: 2px solid #ffffff;
}

.page-body .page-body--blog {
  background-color: #ffffff;
  padding: 0 20px;
  max-width: 850px;
}

/* Breadcrumb */

.page-body .page-body--blog .blog-breadcrumb {
  width: min-content;
  white-space: nowrap;
  margin: 15px 0 5px 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.page-body .page-body--blog .blog-breadcrumb li {
  display: inline-block;
  line-height: 26px;
  margin: 0 9px 0 -10px;
  padding: 0 30px 0 10px;
  position: relative;
}

.page-body .page-body--blog .blog-breadcrumb li::before,
.page-body .page-body--blog .blog-breadcrumb li::after {
  border-right: 1px solid #666666;
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  transform: skewX(45deg);
}

.page-body .page-body--blog .blog-breadcrumb li::after {
  bottom: 0;
  top: auto;
  transform: skewX(-45deg);
}

.page-body .page-body--blog .blog-breadcrumb li:first-child {
  color: #ffffff;
  background-color: #cc171e;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
}

.page-body .page-body--blog .blog-breadcrumb li:last-child {
  padding-right: 10px;
}

.page-body .page-body--blog .blog-breadcrumb li:last-of-type::before,
.page-body .page-body--blog .blog-breadcrumb li:last-of-type::after {
  display: none;
}

.page-body .page-body--blog .blog-breadcrumb li a {
  color: #cc171e;
}

.page-body .page-body--blog .blog-breadcrumb li:first-child a {
  color: #ffffff;
}

.page-body .page-body--blog .blog-breadcrumb li a {
  font: bold 14px Sans-Serif;
  letter-spacing: -1px;
  text-decoration: none;
}

.page-body .page-body--blog .blog-title {
  font-size: 36px;
  line-height: 37px;
  font-weight: bold;
  padding: 20px 0;
}

.page-body .page-body--blog .blog-thumbnail,
.page-body .page-body--blog .blog-image__center {
  width: 100%;
}

.page-body .page-body--blog .blog-content {
  color: #656666;
  font-size: 17.5px;
  line-height: 23px;
  letter-spacing: 0px;
  padding: 15px 0;
}

.page-body .page-body--blog .blog-list__red,
.page-body .page-body--blog .blog-list__blue {
  list-style-type: square;
  padding-left: 20px;
}

.page-body .page-body--blog .blog-list__red li,
.page-body .page-body--blog .blog-list__blue li {
  font-size: 18px;
  line-height: 28px;
}

.page-body .page-body--blog .blog-list__red {
  color: #cc171e;
}

.page-body .page-body--blog .blog-list__blue {
  color: #5b80a3;
  padding-bottom: 15px;
}

.page-body .page-body--blog .blog-image {
  display: flex;
  justify-content: space-between;
}

.page-body .page-body--blog .blog-image .blog-image__left,
.page-body .page-body--blog .blog-image .blog-image__right {
  flex: 1;
}

.page-body .page-body--blog .blog-image img:first-child {
  padding-right: 10px;
}

.page-body .page-body--blog .blog-list__blue .list-item--date {
  color: #969696;
  font-size: 13.67px;
  line-height: 17.47px;
}

.page-body .page-body--adv {
  background-color: #F4F4F4;
  max-width: 300px;
}

.page-body .page-body--adv .adv-image:first-child {
  margin-top: 35px;
}

.page-body .page-body--adv .adv-image {
  margin-bottom: 35px;
}

.page-body .blog-same-content {
  padding: 20px 0;
}

.page-body .blog-same-content .same-content--header {
  display: flex;
  justify-content: space-between;
}

.same-content--header .header-title,
.blog-news .blog-news--title {
  font-size: 18.29px;
  font-weight: bold;
  line-height: 21.94px;
  height: 21.94px;
  padding-left: 10px;
  border-left: 6px solid #cc171e;
}

.same-content--header .header-filter .filter-form {
  display: flex;
}

.same-content--header .header-filter .filter-form .filter-form--label {
  color: #8c8c8c;
  font-size: 13.19px;
  line-height: 24px;
  font-weight: lighter;
  padding-right: 12px;
}

.same-content--header .header-filter .filter-form select {
  padding-right: 12px;
}

.same-content--header .header-filter .filter-form .filter-form--select {
  height: 24px;
  border: 0.5px solid #8c8c8c;
  margin-right: 12px;
}

.filter-form .filter-form--select option {
  height: 24px;
  padding: 2px 0 2px 5px;
}

.filter-form .filter-form--select .select-day {
  width: 47px;
}

.filter-form .filter-form--select .select--month {
  width: 86px;
}

.filter-form .filter-form--select .select--year {
  width: 65px;
}

.same-content--header .header-filter .filter-form .filter-form--button {
  height: 24px;
  font-size: 13.8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #cc171e;
  padding: 2px 12px;
  border: 0;
  border-radius: 3px;
}

.same-content--list {
  margin-top: 25px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 65px;
  row-gap: 30px;
}

.same-content--list .list-item {
  max-width: 216px;
}

/* .same-content--list .list-item + .same-content--list .list-item {
  margin-right: 40px;
} */

.same-content--list .list-item .list-item--thumbnail {
  max-width: 216px;
}

.blog-news .blog-news--title {
  margin-top: 20px;
}

.blog-news .blog-news--item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #b1b3b5;
}

.blog-news .blog-news--item:last-child {
  border-bottom: none;
}

.blog-news .blog-news--item .item-image {
  max-width: 275px;
  margin-right: 17px;
}

.blog-news .blog-news--item .item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.blog-news .blog-news--item .item-subtitle {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 15px;
}

.blog-news .blog-news--item .item-subtitle span {
  font-weight: bold;
  color: #cc171e;
}

.blog-news .blog-news--item .item-short-content {
  font-size: 17px;
  line-height: 20px;
  color: #656666;
}

.page-body--more-news .more-news--adv {
  display: none;
}

@media (max-width: 1024px) {
  .page-body {
    display: unset;
  }

  .page-body .page-body--blog {
    max-width: max-content;
    padding: 0 20px;
  }

  .page-body .blog-wrapper {
    max-width: 100%;
  }

  .page-body--more-news {
    display: flex;
    flex: 60% 40%;
    margin-top: 10px;
  }

  .page-body--more-news .more-news--main {
    margin-right: 10px;
    flex: 2;
  }

  .page-body--more-news .more-news--adv {
    display: block;
    flex: 1;
  }

  .page-body--more-news .more-news--adv .adv-image:first-child {
    margin-top: 15px;
  }

  .page-body--more-news .more-news--adv .adv-image {
    margin-bottom: 35px;
  }

  .same-content--list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .page-body .page-body--adv {
    display: none;
  }
}

@media (max-width: 768px) {
  .blog-breadcrumb {
    display: none;
  }

  .page-body .blog-same-content .same-content--header {
    display: block;
  }

  .page-body .page-body--blog .blog-image {
    flex-direction: column;
  }

  .page-body .page-body--blog .blog-image img:first-child {
    padding-right: 0;
  }

  .same-content--header .header-title {
    margin-bottom: 15px;
  }

  .same-content--list {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .same-content--list .list-item {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .same-content--list .list-item .list-item--thumbnail {
    margin-right: 10px;
  }

  .same-content--list .list-item .list-item--title {
    padding: 10px 0;
  }

  .blog-news .blog-news--item {
    flex-direction: column;
  }

  .blog-news .blog-news--item .item-image {
    max-width: unset;
    margin-bottom: 10px;
  }

  .page-body--more-news .more-news--adv {
    display: none;
  }
}
