@media  (max-width: 1024px) {
header .header-top .header-top--content{
    display: flex;
    justify-content: center;
    padding: 10px 25px;
}
header .header-top .header-top--content .content--logo{
    width: 23%;
}
header .header-top .header-top--content .content--adv{
    width : 70%;
}
header .header-bottom .header-bottom--menu .menu-item {
    padding: 15px 10px;
}
footer .footer-top{
    width: 80%
}
footer .footer-top--form{
    max-width:100%;
}
}
@media (max-width: 768px) {
  .container{
      width: 90%;
      margin: 0 auto
  }
  footer .footer-top--form{
      max-width: 100%;
  }
  footer .footer-top--content{
      flex-direction: column;
  }
  footer .footer-top--content .content--col.content--col__1{
      border-right: 0px;
  }
  footer .footer-top--content .content--col.content--col__2,
  footer .footer-top--content .content--col.content--col__3{
      padding-left: 0px;
  }
  .col-image{
      display:block;
      margin: 0 auto;
      margin-top: 30px;
  }
}
