* {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  background: #ffffff;
}
ul,
ol {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header */

header .header-top {
  background-color: black;
}

header .header-top .header-top--content,
header .header-bottom .header-bottom--content,
footer .footer-top,
footer .footer-bottom .footer-bottom--content {
  max-width: 1200px;
  margin: 0 auto;
}

header .header-top .header-top--content {
  display: flex;
  justify-content: space-between;
}

header .header-top .header-top--content .content--logo {
  padding: 10px;
  width: 300px;
}

header .header-top .header-top--content .content--adv {
  padding: 10px;
}

header .header-bottom {
  background-color: red;
}
header .header-bottom .header-bottom--content{
  position: relative;
}
header .header-bottom .hamburger-button-wrapper{
  display: none;
  width: 40px;
  height: 50px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  cursor: pointer;
}
header .header-bottom .hamburger-button-wrapper .bar{
  width: 100%;
  height: 3px;
  background: #ffffff;
  margin: 5px 0;
}
header .header-bottom .header-bottom--menu {
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-bottom .header-bottom--menu .close-bottom-menu{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotate(45deg);
  cursor: pointer;
  display: none;
}
header .header-bottom .header-bottom--menu .close-bottom-menu::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 100%;
  background-color: #ffffff;
}
header .header-bottom .header-bottom--menu .close-bottom-menu::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}
header .header-bottom .header-bottom--menu .menu-item {
  padding: 15px 25px;
}

header .header-bottom .header-bottom--menu .menu-item.active {
  background-color: brown;
}

/* Footer */

footer {
  background-color: black;
  color: #ffffff;
}

footer .footer-top {
  padding-top: 80px;
}

footer .footer-top--form {
  max-width: 30%;
  background-color: gray;
  padding: 10px;
  margin-bottom: 20px;
}

footer .footer-top--form .form-label {
  margin-bottom: 10px;
}

footer .footer-top--form .form-input {
  height: 40px;
  width: 70%;
  padding-left: 40px;
  border-radius: 5px;
  border: 1px solid transparent;
}

footer .footer-top--form .form-input-icon {
  color: gray;
  position: absolute;
  padding-top: 20px;
  padding-left: 5px;
}

footer .footer-top--form .form-button {
  height: 40px;
  width: 28%;
  float: right;
  background-color: red;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid transparent;
}

footer .footer-top--content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

footer .footer-top--content .content--col {
  flex: 1;
  line-height: 2em;
  padding-top: 20px;
}

footer .footer-top--content .content--col.content--col__1 {
  border-right: 1px solid #ffffff;
  padding-right: 30px;
}

footer .footer-top--content .content--col.content--col__2 {
  padding-left: 30px;
  padding-right: 30px;
}

footer .footer-top--content .content--col.content--col__3 {
  padding-left: 30px;
}

footer .footer-top--content .content--col.content--col__3 .col-image {
  max-width: 200px;
}

footer .footer-bottom {
  border-top: 1px solid white;
}

footer .footer-bottom .footer-bottom--content {
  display: flex;
  justify-content: space-between;
  padding: 20px 22%;
}

/* Baiviet */
.page-body {
  max-width: 1160px;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
}

.page-body .page-body--blog {
  padding-right: 20px;
  max-width: 800px;
}

/* Breadcrumb */

.page-body .page-body--blog .blog-breadcrumb {
  width: min-content;
  white-space: nowrap;
  margin: 15px 0 5px 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.page-body .page-body--blog .blog-breadcrumb li {
  display: inline-block;
  line-height: 26px;
  margin: 0 9px 0 -10px;
  padding: 0 30px 0 10px;
  position: relative;
}

.page-body .page-body--blog .blog-breadcrumb li::before,
.page-body .page-body--blog .blog-breadcrumb li::after {
  border-right: 1px solid #666666;
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  transform: skewX(45deg);
}

.page-body .page-body--blog .blog-breadcrumb li::after {
  bottom: 0;
  top: auto;
  transform: skewX(-45deg);
}

.page-body .page-body--blog .blog-breadcrumb li:first-child {
  color: #ffffff;
  background-color: #cc171e;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
}

.page-body .page-body--blog .blog-breadcrumb li:last-child {
  padding-right: 10px;
}

.page-body .page-body--blog .blog-breadcrumb li:last-of-type::before,
.page-body .page-body--blog .blog-breadcrumb li:last-of-type::after {
  display: none;
}

.page-body .page-body--blog .blog-breadcrumb li a {
  color: #cc171e;
}

.page-body .page-body--blog .blog-breadcrumb li:first-child a {
  color: #ffffff;
}

.page-body .page-body--blog .blog-breadcrumb li a {
  font: bold 14px Sans-Serif;
  letter-spacing: -1px;
  text-decoration: none;
}

.page-body .page-body--blog .blog-title {
  font-size: 36px;
  line-height: 37px;
  font-weight: bold;
  padding: 20px 0;
}

.page-body .page-body--blog .blog-thumbnail,
.page-body .page-body--blog .blog-image__center {
  width: 100%;
}

.page-body .page-body--blog .blog-content {
  color: #656666;
  font-size: 17.5px;
  line-height: 23px;
  letter-spacing: 0px;
  padding: 15px 0;
}

.page-body .page-body--blog .blog-list__red,
.page-body .page-body--blog .blog-list__blue {
  list-style-type: square;
  font-size: 18px;
  line-height: 23px;
  padding-left: 20px;
}

.page-body .page-body--blog .blog-list__red {
  color: #cc171e;
}

.page-body .page-body--blog .blog-list__blue {
  color: #5b80a3;
  padding-bottom: 15px;
}

.page-body .page-body--blog .blog-image {
  display: flex;
  justify-content: space-between;
}

.page-body .page-body--blog .blog-image .blog-image__left,
.page-body .page-body--blog .blog-image .blog-image__right {
  flex: 1;
}

.page-body .page-body--blog .blog-image img:first-child {
  padding-right: 10px;
}

.page-body .page-body--blog .blog-list__blue .list-item--date {
  color: #969696;
  font-size: 13.67px;
  line-height: 17.47px;
}

.page-body .page-body--adv .adv-image:first-child {
  margin-top: 35px;
}

.page-body .page-body--adv .adv-image {
  margin-bottom: 35px;
}

.page-body .blog-same-content {
  padding: 20px 0;
}

.page-body .blog-same-content .same-content--header {
  display: flex;
  justify-content: space-between;
}

.same-content--header .header-title,
.blog-news .blog-news--title {
  font-size: 18.29px;
  font-weight: bold;
  line-height: 21.94px;
  height: 21.94px;
  padding-left: 10px;
  border-left: 6px solid #cc171e;
}

.same-content--header .header-filter .filter-form {
  display: flex;
}

.same-content--header .header-filter .filter-form .filter-form--label {
  color: #8c8c8c;
  font-size: 13.19px;
  line-height: 24px;
  font-weight: lighter;
  padding-right: 12px;
}

.same-content--header .header-filter .filter-form select {
  padding-right: 12px;
}

.same-content--header .header-filter .filter-form .filter-form--select {
  height: 24px;
  border: 0.5px solid #8c8c8c;
  margin-right: 12px;
}

.filter-form .filter-form--select option {
  height: 24px;
  padding: 2px 0 2px 5px;
}

.filter-form .filter-form--select .select-day {
  width: 47px;
}

.filter-form .filter-form--select .select--month {
  width: 86px;
}

.filter-form .filter-form--select .select--year {
  width: 65px;
}

.same-content--header .header-filter .filter-form .filter-form--button {
  height: 24px;
  font-size: 13.8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #cc171e;
  padding: 2px 12px;
  border: 0;
  border-radius: 3px;
}

.same-content--list {
  margin-top: 25px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 65px;
  row-gap: 30px;
}

.same-content--list .list-item {
  max-width: 216px;
}

/* .same-content--list .list-item + .same-content--list .list-item {
  margin-right: 40px;
} */

.same-content--list .list-item .list-item--thumbnail {
  max-width: 216px;
}

.blog-news .blog-news--title {
  margin-top: 20px;
}

.blog-news .blog-news--item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #b1b3b5;
}

.blog-news .blog-news--item:last-child {
  border-bottom: none;
}

.blog-news .blog-news--item .item-image {
  max-width: 275px;
  margin-right: 17px;
}

.blog-news .blog-news--item .item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.blog-news .blog-news--item .item-subtitle {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 15px;
}

.blog-news .blog-news--item .item-subtitle span {
  font-weight: bold;
  color: #cc171e;
}

.blog-news .blog-news--item .item-short-content {
  font-size: 17px;
  line-height: 20px;
  color: #656666;
}

.page-body--more-news .more-news--adv {
  display: none;
}

@media (max-width: 1024px) {
  .page-body {
    display: unset;
  }

  .page-body .page-body--blog {
    max-width: max-content;
    padding: 0 20px;
  }

  .page-body .blog-wrapper {
    max-width: 100%;
  }

  .page-body--more-news {
    display: flex;
    flex: 60% 40%;
    margin-top: 10px;
  }

  .page-body--more-news .more-news--main {
    margin-right: 10px;
    flex: 2;
  }

  .page-body--more-news .more-news--adv {
    display: block;
    flex: 1;
  }

  .page-body--more-news .more-news--adv .adv-image:first-child {
    margin-top: 15px;
  }

  .page-body--more-news .more-news--adv .adv-image {
    margin-bottom: 35px;
  }

  .same-content--list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .page-body .page-body--adv {
    display: none;
  }
}
.black-bg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #000;
  opacity: 0.3;
  display: none;
}
@media (max-width: 768px) {
  .blog-breadcrumb {
    display: none;
  }

  .page-body .blog-same-content .same-content--header {
    display: block;
  }

  .page-body .page-body--blog .blog-image {
    flex-direction: column;
  }

  .page-body .page-body--blog .blog-image img:first-child {
    padding-right: 0;
  }

  .same-content--header .header-title {
    margin-bottom: 15px;
  }

  .same-content--list {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .same-content--list .list-item {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .same-content--list .list-item .list-item--thumbnail {
    margin-right: 10px;
  }

  .same-content--list .list-item .list-item--title {
    padding: 10px 0;
  }

  .blog-news .blog-news--item {
    flex-direction: column;
  }

  .blog-news .blog-news--item .item-image {
    max-width: unset;
    margin-bottom: 10px;
  }

  .page-body--more-news .more-news--adv {
    display: none;
  }
}

/*Media Rules*/
@media (max-width:1230px){
  footer .footer-top{
    margin: 0 20px;
  }
}
@media (max-width:1024px){
  header .header-bottom .hamburger-button-wrapper{
    display: flex;
  }
  header .header-bottom .header-bottom--menu{
    flex-direction: column;
    position: fixed;
    top: 84px;
    right: -100%;
    background: red;
    height: calc(100vh - 84px);
    padding-top: 50px;
    z-index: 10000;
    transition: 0.5s;
  }
  header .header-bottom .header-bottom--content{
    height: 60px;
  }
  header .header-bottom .header-bottom--menu .close-bottom-menu{
    display: block;
  }
  footer .footer-top{
    margin: 0 20px;
  }
  footer .footer-top--content{
    flex-direction: column;
  }
  footer .footer-top--content >div{
    border-bottom: 1px solid #ffffff;
  }
  footer .footer-top--content >div:last-child{
    border-bottom: none;
  }
  footer .footer-top--content .content--col.content--col__2,
  footer .footer-top--content .content--col.content--col__3{
    padding-left: 0;
  }
  footer .footer-top--content .content--col.content--col__1{
    border-right: none;
  }
  footer .footer-top--form{
    max-width: 500px;
  }
}
@media (max-width:768px){
  
}