* {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  background: #ffffff;
}
ul,
ol {
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  transition: top 0.3s;
}
.header-footer-container {
  margin: 0 auto;
  max-width: 1088px;
}
header .primary-header {
  background: #ffeb3b;
  padding: 13px 0 12px 0;
}
header .primary-header .logo {
  height: 75px;
}
header .primary-header .brand-name {
  font-size: 25px;
  letter-spacing: -0.35px;
  color: #151515;
  text-transform: uppercase;
}
header .primary-header .header-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .primary-header .logo-container {
  display: flex;
  align-items: center;
}
header .primary-header .nav-menu-container .nav-menu {
  display: flex;
  align-items: center;
}
header .primary-header .nav-menu-container .nav-menu .menu-item {
  padding: 0 21px;
  position: relative;
}
header .primary-header .nav-menu-container .nav-menu .menu-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 80%;
  background: #565656;
  opacity: 0.25;
}
header
  .primary-header
  .nav-menu-container
  .nav-menu
  .menu-item:last-child::after {
  content: none;
}
header .primary-header .nav-menu-container .nav-menu .menu-item a {
  font-size: 20px;
  letter-spacing: 0px;
  color: #1a1a1a;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.header-container.home .nav-menu .home-nav::after,
.header-container.about-us .nav-menu .about-us-nav::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background: #000000;
}
header .sub-header {
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
}
header .sub-header .sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .sub-header .sub-menu .menu-item {
  padding: 23px 20px;
}
header .sub-header .sub-menu .menu-item a {
  font-size: 20px;
  letter-spacing: 0px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.mission-section {
  margin-bottom: 101px;
}
.mission-section .mission-banner {
  position: relative;
  margin-bottom: 101px;
}
.mission-section .mission-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  background: #000000;
  opacity: 0.2;
}
.mission-section .mission-banner img {
  width: 100%;
}
.content-container {
  margin: 0 auto;
  max-width: 996px;
}
.content-title {
  font-size: 30px;
  letter-spacing: 0px;
  color: #14555c;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 49px;
  font-weight: bold;
}
.page-content.text {
  font-size: 16px;
  letter-spacing: 0px;
  color: #000000;
  text-align: justify;
  font-weight: 300;
}
.page-content.text p {
  margin-bottom: 30px;
}
footer {
  background: #1a1a1a;
  color: #ffffff;
  padding: 58px 0 46px 0;
}
footer .footer-menus {
  margin-bottom: 70px;
}
footer .footer-menus > ul {
  display: flex;
}
footer .footer-menus .footer-menu-item {
  width: 25%;
}
footer .footer-menus .footer-menu-item .title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 44px;
  text-transform: uppercase;
}
footer .footer-menus .footer-menu-item .footer-sub-menu .sub-menu-item {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
}
footer .footer-menus .footer-menu-item .footer-sub-menu .sub-menu-item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
footer .social-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
footer .social-contact .social-media {
  margin: 0 12.5px;
}
footer .copyright {
  text-align: center;
  color: #b1b1b1;
  font-size: 20px;
  font-weight: 300;
}
.how-to-use-section {
  margin-bottom: 45px;
}
.how-to-use-section .card-grid {
  display: flex;
  flex-wrap: wrap;
}
.how-to-use-section .card-grid .card-content {
  width: calc(50% - 16px);
  margin: 12.5px 8px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  background: #ffffff;
  padding: 15px 0 25px 0;
  text-align: center;
}
.how-to-use-section .card-grid .card-content .card-image {
  margin-bottom: 11px;
}
.how-to-use-section .card-grid .card-content .card-title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
}
.how-to-use-section .card-grid .card-content .view-more {
  display: flex;
  width: 168px;
  height: 68px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #0f6972;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #326770;
  border-radius: 10px;
}
.header-menu-mobile-container {
  display: none;
}
.header-menu-mobile-container .header-menu-mobile {
  position: fixed;
  top: 0;
  /* right: 0; */
  width: 70%;
  height: 100%;
  right: -100%;
  transition: right 0.5s;
}
.header-menu-mobile-container .header-menu-mobile ul.nav-menu-mobile {
  width: 100%;
  height: 100%;
  background: #ffeb3b;
  padding: 20px;
  box-shadow: 0px 3px 6px #00000029;
  padding-top: 50px;
}
.header-menu-mobile-container
  .header-menu-mobile
  ul.nav-menu-mobile
  .menu-item
  a {
  font-size: 18px;
  letter-spacing: 0px;
  color: #1a1a1a;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 20px;
}
.header-menu-mobile-container
  .header-menu-mobile
  ul.nav-menu-mobile
  .menu-item
  .sub-menu-mobile {
  margin-left: 40px;
}
.header-menu-mobile-container
  .header-menu-mobile
  ul.nav-menu-mobile
  .menu-item
  .sub-menu-item
  a {
  font-size: 14px;
}
.header-menu-mobile-container
  .header-menu-mobile
  ul.nav-menu-mobile
  .menu-item {
  position: relative;
}
.header-menu-mobile-container
  .header-menu-mobile
  ul.nav-menu-mobile
  .menu-item
  > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #565656;
  opacity: 0.25;
}
.header-menu-mobile-container .hamburger-menu-button {
  padding: 5px;
  cursor: pointer;
}
.header-menu-mobile-container .hamburger-menu-button .burger-bar {
  width: 30px;
  height: 3px;
  background: #000000;
  margin-bottom: 5px;
}
.header-menu-mobile-container .close-menu-button {
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: -30px;
  cursor: pointer;
}
.header-menu-mobile-container .close-menu-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: #000000;
}
.header-menu-mobile-container .close-menu-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  background: #000000;
}
@media (max-width: 1023px) {
  .nav-menu-container,
  .sub-header {
    display: none;
  }
  .header-menu-mobile-container {
    display: block;
  }
  .header-footer-container {
    margin: 0 20px;
    max-width: 1088px;
  }
  footer .footer-menus .footer-menu-item .title {
    font-size: 20px;
  }
  footer .footer-menus .footer-menu-item .footer-sub-menu .sub-menu-item,
  footer .footer-menus .footer-menu-item .footer-sub-menu .sub-menu-item a {
    font-size: 14px;
  }
  footer .footer-menus .footer-menu-item .footer-sub-menu .sub-menu-item img {
    width: 150px;
  }
  .nav-menu-container,
  .sub-header {
    display: none;
  }
  .header-menu-mobile-container {
    display: block;
  }
}
@media (max-width: 767px) {
  footer .footer-menus > ul {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-menus .footer-menu-item {
    width: 100%;
  }
  footer .footer-menus .footer-menu-item .title {
    font-size: 25px;
  }
  footer .footer-menus .footer-menu-item .footer-sub-menu .sub-menu-item,
  footer .footer-menus .footer-menu-item .footer-sub-menu .sub-menu-item a {
    font-size: 18px;
  }
  footer .footer-menus .footer-menu-item .footer-sub-menu .sub-menu-item img {
    width: 170px;
  }
  .nav-button{
    display: none;
  }
}

/*slide======================*/
.home-section .banner-section {
  position: relative;
  margin-bottom: 52px;
}
.home-section .banner-section .mySlides {
  position: relative;
  display: none;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-section .banner-section .mySlides::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.4;
}
.home-section .banner-section .mySlides .content {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #ffffff;
  z-index: 100;
  transform: translateY(-50%);
}
.home-section .banner-section .mySlides .content .title {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.home-section .banner-section .mySlides .content .text {
  font-size: 20px;
  margin-bottom: 50px;
}
.home-section .banner-section .mySlides .content .view-more a {
  display: flex;
  width: 135px;
  height: 42px;
  background: #ffeb3b;
  box-shadow: 0px 2px 4px #4b4b4b40;
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-size: 17px;
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.home-section .banner-section img {
  vertical-align: middle;
}
.home-section .banner-section .slideshow-container {
  position: relative;
  margin: auto;
}
.home-section .banner-section .prev,
.home-section .banner-section .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 100;
}
.home-section .banner-section .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.home-section .banner-section .prev:hover,
.home-section .banner-section .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.home-section .banner-section .dot-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.home-section .banner-section .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.home-section .banner-section .active,
.home-section .banner-section .dot:hover {
  background-color: #ffeb3b;
}
.home-section .banner-section .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.home-section .hot-news-carousel,.home-section .getjob-story-carousel{
  overflow: hidden;
  position: relative;
  margin-bottom: 71px;
}
.home-section .owl-stage{
  display: flex;
}
.home-section .owl-stage .owl-item >div{
  padding: 0 8px;
}
.home-section .hot-news-carousel .news-card{
  background: #FFFFFF ;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
}
.home-section .hot-news-carousel .news-card .news-content{
  padding:10px 25px 12px 25px;
}
.home-section .hot-news-carousel .news-card .news-content .news-title{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 2px;
}
.home-section .hot-news-carousel .news-card .news-content .news-quote{
  font-size: 14px;
  letter-spacing: 0px;
  color: #7B7B7B;
}
.home-section .hot-news-carousel .news-card .news-images img{
  width: 100%;
  height: 100%;
}
.home-section .owl-nav{
  display: none;
}
.hot-news-container,.getjob-story-container{
  position: relative;
}
.nav-button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  color: #7B7B7B;
  cursor: pointer;
}
.nav-button.pre{
  left: -50px;
}
.nav-button.next{
  right: -50px;
}
.home-section .getjob-story-carousel .story-card{
  background: #FFFFFF ;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  padding: 15px;
}
.home-section .getjob-story-carousel .story-card .story-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.home-section .getjob-story-carousel .story-card .story-title .title{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.home-section .getjob-story-carousel .story-card .story-content{
  font-size: 14px;
  letter-spacing: 0px;
  color: #7B7B7B;
  margin-bottom: 8px;
}
.home-section .getjob-story-carousel .story-card .story-signature{
  font-size: 14px;
  letter-spacing: 0px;
  color: #000000;
}
.home-section .customer-container .customer-banner{
  height: 406px;
  background-image: url("/images/customer-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 166px;
}
.home-section .customer-container .customer-banner::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.4;
  z-index: 1;
}
.home-section .customer-container .customer-banner .register-wrapper{
  position: relative;
  z-index: 2;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 15px;
  padding: 55px 56px 64px 56px;
  width: 23%;
  margin: 0 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: -130px;
}
.home-section .customer-container .customer-banner .register-wrapper .images{
  margin-bottom: 62px;
}
.home-section .customer-container .customer-banner .register-wrapper .title{
  font-size: 30px;
  letter-spacing: 0px;
  color: #1A1A1A;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.home-section .customer-container .customer-banner .register-wrapper .sign-up a{
  background: #FFEB3B ;
  box-shadow: 0px 2px 4px #4B4B4B40;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 42px;
  text-decoration: none;
  color: #1A1A1A;
  font-size: 17px;
}
.home-section .customer-images-wrapepr{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 250px;
}
.home-section .customer-images-wrapepr .image{
  margin:0 8px;
  margin-bottom: 25px;
}
.home-section .download-app-container{
  height: 395px;
  background: #ffeb3b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}